<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css' />
  </head>
  <body>
	<div class='container'>
    <h1><%= title %></h1>
    <p>This is a <%= title %></p>
    <ul class='list-unstyled'>
    	<li>Welcome to <%=name %></li>
    	<li>This is the random number <%=number %></li>
    </ul>
	</div>
  </body>
</html>
